/-workspace "notes" {
    // open-on-output "eDP-1"
    open-on-output "eDP-2"
}

// workspace "discord" {
//     // open-on-output "DP-2"
//     open-on-output "Dell Inc. Dell S2716DG #ASOwvAqQj0Dd"
// }

// workspace "chat" {
//     // open-on-output "DP-2"
//     open-on-output "Dell Inc. Dell S2716DG #ASOwvAqQj0Dd"
//     // open-on-output "eDP-2"
// }

// workspace "browser" {polkit-gnome (1)
//     open-on-output "Acer Technologies XV320QU LV 420615FCD4200"
//     // open-on-output "DP-2"
// }

// workspace "dash" {
//     open-on-output "eDP-1"
// }